{% extends "layout2.html" %}

{% block content%}
<style>
    .selected {
        background-color:cornsilk;
    }

    .selection {
        background: rgba(46, 115, 252, 0.11);
        border-radius: 0.1em;
        border: 2px solid rgba(98, 155, 255, 0.81);
    }
</style>

<div id="dataholder" class="container-fluid" data-header='{{ header | tojson }}' data-body='{{ body | tojson }}'>
    
    <table class="" id="main-table" border="1">
        
        <thead id="header" class="text-center"></thead>
        
        <div class="box-wrap">
            <tbody id="projects"></tbody>
            
            <tbody id="opportunities"></tbody>
        </div>

        
            
    </table>
    
    <input type="text" name="" id="multi-insert" placeholder="insert">
</div>
    

<script src="https://cdn.jsdelivr.net/npm/@simonwep/selection-js/dist/selection.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/headerGenerator.js') }}"></script>
<script type="text/javascript" src="{{ url_for('edit.static', filename='js/generators.js') }}"></script>
<script type="text/javascript" src="{{ url_for('edit.static', filename='js/selections.js') }}"></script>
<script type="text/javascript" src="{{ url_for('edit.static', filename='js/saveChanges.js') }}"></script>
<script type="text/javascript" src="{{ url_for('edit.static', filename='js/main.js') }}"></script> 

{% endblock content %}