<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <img class="for-planning" style="width:400px;margin:center;" src="{{ url_for('static', filename = 'images/trask_for_planning.jpg') }}" alt="">
    <div class="menu">

        <h1>Resource planner</h1>
        <h5>Welcome {{ user.get("name") }}!</h5>
        <img style="width:250px; margin-bottom:100px;" src="{{ url_for('static', filename = 'images/calendar.png') }}" alt=""> <br>
        
        {% if config.get("ENV") == "DEMO" %}
            <button type="button" class="btn btn-warning btn-lg" onclick="window.location.href='/table'">Resource Planning</button>
            <button type="button" class="btn btn-warning btn-lg" onclick="window.location.href='/projects'">Project Planning</button>
            <button type="button" class="btn btn-info btn-lg" onclick="window.location.href='/finance'">Project Phases</button>
            <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/groups'">Groups</button>
            <!--
                <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/color_setting'">Color settins</button>
            -->
            
        {% elif config.get("ENV") == "PRODUCTION" %}
            <button type="button" class="btn btn-warning btn-lg" onclick="window.location.href='/table'">Resource Planning</button>
            <button disabled type="button" class="btn btn-warning btn-lg" onclick="window.location.href='/projects'">Project Planning</button>
            <button type="button" class="btn btn-info btn-lg" onclick="window.location.href='/finance'">Project Phases</button>
            <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/groups'">Groups</button>
            <!--
                <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/color_setting'">Color settins</button>
            -->
        {% endif %}
        <button type="button" class="btn btn-danger btn-lg" onclick="window.location.href='/logout'">Logout</button>
    </div>
    <hr>
    <footer style="text-align: right">Powered by MSAL Python {{ version }}</footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>