<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Resource Planner</title>
</head>
<body>
    <div class="my-container dataholder" data-groupmodel='{{ groups | tojson }}'>
        <nav>
            <a href="{{url_for('table.table_get')}}">Home</a>
        </nav>

        <div class="row">
            <div class="col-sm-4">
                <form action="{{url_for('groups.groups_save_group')}}" id="user-form" method="POST">
                    Group name: <input type="text" name="name">
                    <input type="submit">
                </form>
                <br>
                Group members:
                <br>
                <textarea rows="20" cols="50" name="members" form="user-form" placeholder="{{'useri_d1 \nuseri_d2 \nuseri_d3\n...'}}"></textarea>
            </div>
            <div class="col-sm-4">
                <table id="groups-controll">
                </table>
            </div>
    
            <div class="col-sm-4">
                <h5 id="group-name"></h5>
                <table id="myList"></table>
                <form id="members-controll"></form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/groups.js') }}"></script>
</body>
</html>