{% extends "layout.html" %}

{% block content%}
<br>
<div id="set_department" class="form-inline">
    <input class="form-control" size="40" id="search" type="text" onkeyup="tableSearch()" placeholder="Search for names..">
    <div style="margin-left: 2%;">
        <input class="form-control" id="department" type="text" placeholder="Enter Departmet(s)">
        <button class="btn btn-primary" onclick="set_department()" type="button">Submit</button>
    </div>
    <div style="margin-left: 2%;">
        <div class="dropdown">
            <button class="btn btn-primary" onclick="dropdown_toggle(); show_groups();" class="dropbtn">Choose group <img src="{{ url_for('static', filename='images/down-arrow.png') }}" alt=""></button>
            <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <div class="dropdown_list" id="dropdown">
                </div>
            </div>
        </div>
    </div>
    <div style="margin-left: 2%;">
        years: {{ table.header["year_start"] }} / {{ table.header["year_end"] }}
    </div>
</div>

<table id="table" border="1">
    <thead>
        <tr>
            <th>Week:</th>
            {% for i in range(table.header.weeks | length) -%}
                {% if table.header.weeks[i] | string == table.header["current_week"] %}
                    <th class="current-week">{{ table.header.weeks[i] | string + ' (' +  table.header.working_hours[table.header.weeks[i]] + ')' }}</th>
                {% else %}
                    <th>{{ table.header.weeks[i] | string + ' (' +  table.header.working_hours[table.header.weeks[i]] + ')' }}</th>
                {% endif %}
            {%- endfor %}
        </tr>
        <tr>
            <td>Dates:</td>
            {% for date in table.header.dates -%}
            <td>{{ date }}</td>
            {%- endfor %}
        </tr>
    </thead>

    <tbody>
        {% for i in range(table.body | length) -%}
        <tr>
            {% set weeks_len = table.header.weeks | length %}
            <td class="item_for_search">
                <button onclick="go_to_edit('{{ url_root }}edit/{{ table.body[i].user_id }}?year_start={{ table.header.year_start }}&year_end={{ table.header.year_end }}&week_start={{ table.header.weeks[0] }}&week_end={{ table.header.weeks[weeks_len - 1] }}', {{ table }})" type="button" class="btn btn-link text-left">{{ table.body[i].name + ' (' +  table.body[i].department + ')' }}</button>
            </td>
            {% for week in table.header.weeks%}
            {% set week = week | int %}
                <td class="data-coloring text-center">{{ table.body[i]["values"][week] }}</td>
            {% endfor %}
        </tr>
        {%- endfor %}
    </tbody>
</table>
<script>
coloring_table({{ table | tojson() }})

function go_to_edit(url, table) {
    localStorage.setItem("name_list", get_name_list(table));    
    window.location = url
}


</script>
{% endblock content%}
