{% extends "layouts/layout.html" %}

{% block content%}
<div id="dataholder" class="container-fluid" data-header='{{ header | tojson }}' data-tablemodel='{{ tableModel | tojson }}'>

	<div class="row d-flex align-items-end">
		<div class="col-4">
			<form id="form-deep-search" class="form-inline">
				<div class="form-group">
					<input class="form-control mr-sm-2" id="search" type="text" placeholder="Search for names..">
					<button class="btn btn-primary" type="submit">Deep search</button>
				</div>
			</form>
		</div>
		<div class="col-3">
			<form id="form-department" class="form-inline">
				<div class="form-group">
					<input id="department-value" class="form-control mr-sm-2" placeholder="Enter Department(s)">
					<button class="btn btn-primary" type="submit">Submit</button>
				</div>
			</form>
		</div>

		<div class="col-3">
			<div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Group</button>
                <div class="dropdown-menu w-100" style="height: auto; max-height: 500px; overflow-x: hidden;">
					<input class="form-control" id="myInput" type="text" placeholder="Search..">
                </div>
            </div>
		</div>

		<div id="date-year" class="col-2">
			{{ header.dateRange.year_start}} / {{ header.dateRange.year_end }}
		</div>
	</div>

	<div class="row">
		<div class="col">
			<table class="table table-sm table-bordered" id="table">

				<thead id="header" class="text-center"></thead>
				<tbody id="body"></tbody>
				
			</table>
		</div>
	</div>

</div>
<script type="text/javascript" src="{{ url_for('static', filename='dist/table.js') }}"></script>  
{% endblock content %}
