<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Resource planner</title>
</head>

<body>

    <style>
        input {display: block; padding: 0; margin: 0; border: 0; width: 100%; background: rgba(0, 0, 0, 0)}

        td {margin: 0; padding: 0;}
    </style>
    
    <div id="app" class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="dropdown">
                    <button v-on:click="getProjecList" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose project<span class="caret"></span></button>
                    <div class="dropdown-menu w-100" style="height: auto; max-height: 500px; overflow-x: hidden;">
                        <input class="form-control" id="myInput" type="text" placeholder="Search..">
                        <a v-on:click="chooseProject(project.name)" class="dropdown-item" href="javascript:;" v-for="(project, index) in projects" :key="index" v-text="project.name + ' (' + project.id + ')'"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table class="table table-borderless table-sm">
                    <tr>
                        <th scope="row">Project</th>
                        <td v-text="currentProject.name.replace(currentProject.CID + ' - ','')"></td>
                    </tr>

                    <tr>
                        <th scope="row">CID</th>
                        <td v-text="currentProject.CID"></td>
                    </tr>

                    <tr>
                        <th scope="row">Project Manager</th>
                        <td v-text="currentProject.projectManager"></td>
                    </tr>
            
                    <tr>
                        <th scope="row">Delivery Manager</th>
                        <td v-text="currentProject.deliveryManager"></td>
                    </tr>

                    <tr>
                        <th scope="row">MD Rate</th>
                        <td v-text="mdRate"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table v-if="data" class="table table-bordered table-hover table-editable" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">Phase</th>
                            <th scope="col" v-for="name in currentProject.workers" v-text="name"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(row, index) in currentProject.values" :key="index">
                            <th scope="row" v-text="currentProject.phases[index]"></th>
                            <td class="text-center" v-on:keyup="sumUpdate" v-for="(value, childindex) in row">
                                <input class="text-center" type="text" v-model="currentProject.values[index][childindex]">
                            </td>
                            <td class="table-info" v-text="horizontalSum[index]"></td>
                        </tr>
                        <tr>
                            <th scope="row" v-text="'sum:'"></th>
                            <td class="table-info" v-for="(value, index) in verticalSum" v-text="value" :key="index + 5"></td>
                        </tr>
                    </tbody>
                </table>
                <div v-if="spinner" class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>

        <button v-if="saveChangesButton" class="btn btn-primary" type="button" v-on:click="saveChanges">Save Changes</button>
        <!-- 
            TODO:
            součet pracností podle něj porovnávat součet naplánovaného
            seřadit jména podle abecedy A -> Z
            navigační lišta s logem
         -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: function () {
                return {
                    saveChangesButton: false,
                    data: false,
                    spinner: false,
                    defaultValues: [],
                    currentProject: {
                        id: null,
                        name: "",
                        CID: "",
                        projectManager: "",
                        deliveryManager: "",
                        phases: [],
                        phasesIds: [],
                        workers: [],
                        workersIds: [],
                        values: []
                    },
                    projects: [],
                    horizontalSum: [],
                    verticalSum: []
                }
            },
            methods: {
                saveChanges: function() {
                    let changes = []
                    for (let i = 0; i < this.currentProject.values.length; i++) {
                        for (let j = 0; j <  this.currentProject.values[i].length; j++) {
                            if (String(this.currentProject.values[i][j]) !== String(this.defaultValues[i][j])){
                                changes.push({
                                    "project_id": this.currentProject.id,
                                    "worker_id": this.currentProject.workersIds[j],
                                    "phase_id": this.currentProject.phasesIds[i],
                                    "new_value": String(this.currentProject.values[i][j])
                                })
                            }
                        }
                    }
                    fetch("/finance/save_changes", {
                        method: "POST",
                        body: JSON.stringify(changes),
                    }).then(function(response){
                        console.log(response);
                        alert("Saved!")
                    })
                },

                sumUpdate: function() {
                    this.saveChangesButton = true;
                    this.computeHorizontalSum();
                    this.computeVerticalSum();
                },

                getProjecList: function() {
                    if (this.projects.length !== 0) return;
                    fetch("/finance/projects")
                    .then(response => response.json())
                    .then(data => {
                        data.data.forEach(project => {    
                            this.projects.push({
                                id: project[0],
                                name: project[2],
                                CID: project[1],
                                projectManager: project[3],
                                deliveryManager: project[4]
                            });
                        });
                    });
                },

                getTableData: function(project_id) {
                    this.data = false
                    this.spinner = true
                    fetch(`/finance/data/${project_id}`)
                    .then(response => response.json())
                    .then(data => {
                        this.currentProject.values = data.values
                        this.currentProject.values.forEach(row => {
                            this.defaultValues.push([...row])
                        });
                        this.currentProject.workers = data.workers
                        this.currentProject.workersIds = data.workers_ids
                        this.currentProject.phases = data.phases
                        this.currentProject.phasesIds = data.phases_ids
                        this.data = true
                        this.spinner = false
                        this.computeHorizontalSum();
                        this.computeVerticalSum();
                    });
                },

                chooseProject: function(projectName) {
                    this.saveChangesButton = false;
                    let selectedProject = projectName;
                    this.projects.forEach(project => {                       
                        if (project.name === selectedProject) {
                            this.currentProject = project
                            this.currentProject.id = project.id
                        }      
                    });
                    this.getTableData(this.currentProject.id)
                },

                computeHorizontalSum: function() {
                    this.horizontalSum = []
                    this.currentProject.values.forEach(row => {
                        let sum = 0
                        row.forEach(value => {
                            let plannedHours = value ? parseInt(value) : 0;
                            sum += plannedHours;
                        });
                        this.horizontalSum.push(sum)
                    });
                },

                computeVerticalSum: function() {
                    this.verticalSum = []
                    for (let j = 0; j < this.currentProject.workers.length; j++) {
                        let sum = 0;
                        for (let i = 0; i < this.currentProject.phases.length; i++) {
                            let plannedHours = this.currentProject.values[i][j] ? parseInt(this.currentProject.values[i][j]) : 0;
                            sum += plannedHours;
                        }
                        this.verticalSum.push(sum);
                    }
                }
            },

            computed: {
                mdRate: function () {
                    let sum = null;
                    this.verticalSum.forEach(value => {
                        sum += parseInt(value);  
                    })
                    return sum;
                }
            }
        });

        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".dropdown-menu a").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>