<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colours.css')}}">
    <title>Resource Planner</title>
</head>
<style>
    .form-inline {
        display: block;
    }

    #bg-text {
        color:lightgrey;
        background-repeat: repeat-x;
    }

    #background{
        position:absolute;
        z-index:0;
        display:block;
        min-height:50%;
        min-width:50%;
        color:yellow;
    }
</style>
<body>

    <nav class="navbar navbar-light mb-3">

        {% if env != "PRODUCTION" %}
            <div id="background">
                {% for _ in range(20) %}
                    <span id="bg-text">{{ env }}   </span>
                {% endfor %}
            </div>
        {% endif %}


        <div class="row container-fluid">
            <div class="col-lg-1 col-md-1 col-sm-1">
                <a href="/">
                    <img class="img-fluid" src="../../static/images/logo.png" width="100" height="60" alt="">
                </a>
            </div>

            <div class="col-lg-6 col-md col-sm">
                <form id="range-form" class="form-inline">
                    <div class="form-group">
                        <span class="navbar-text mr-2">Range from:</span>
                        <input id="data-range-from" size="18" class="form-control mr-sm-2" placeholder="week/year" aria-label="Search">
                        <span class="navbar-text mr-2">To:</span>
                        <input id="data-range-to" size="18" class="form-control mr-sm-2" placeholder="week/year" aria-label="Search">
                    </div>

                    <div class="form-group"> <!-- Date input -->
                        <span class="navbar-text mr-2">Range from:</span>
                        <input class="form-control mr-sm-2" id="date-from" name="date" placeholder="MM/DD/YYYY" type="date"/>
                        <span class="navbar-text mr-2">To:</span>
                        <input class="form-control mr-sm-2" id="date-to" name="date" placeholder="MM/DD/YYYY" type="date"/>
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Set Range</button>
                    </div>
                </form>
            </div>

            <div class="col-lg-3 col-md col-sm">
                <form id="date-form" class="form-inline">
                    <div class="form-group">
                        <input id="data-week" size="10" class="form-control mr-sm-2" placeholder="week/year" aria-label="Search">
                        <span class="navbar-text mr-2">Or: </span>
                        <input id="data-date" size="10" class="form-control mr-sm-2" placeholder="dd/mm/yyyy" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Set week</button>
                    </div>
                </form>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-1">
                <div id="move" class="">
                    <button name="left" id="move-left" class="btn btn-outline-primary" type="button"><----</button>
                    <button name="right" id="move-right" class="btn btn-outline-primary" type="button">----></button>
                </div>
            </div>
        </div>
    </nav>


    <script>
        const env = "{{ env }}";
        if (env === "PRODUCTION")
            document.querySelector(".navbar").style.backgroundColor = "#e3f2fd";
        else
            document.querySelector(".navbar").style.backgroundColor = "rgb(255, 165, 0, 0.5)";
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    {% block content %}{% endblock %}
    <!-- 
    <script>
        let form1 = document.querySelector("#form-1");
        let form2 = document.querySelector("#form-2");
        form1.addEventListener("submit", (e) => {
            e.preventDefault();
            console.log(e.submitter.name);
        });
        form2.addEventListener("submit", (e) => {
            e.preventDefault();
            console.log(e.submitter.name);
        });
    </script>
    -->

</body>
</html>
