<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
        <title>Main table</title>
    <body>
        <h3>Edit plan: {{ user_id }}</h3>
        <a href="/table">back</a>
        <table id="myTable">
            <thead>
                <tr>
                    <td>Week number:</td>
                    {% for week_number in table.head["week_numbers"] -%}
                        <td>{{ week_number }}</td>
                    {%- endfor %}
                </tr>
                <tr>
                    <td>Date:</td>
                    {% for week_number in table.head["week_numbers"] -%}
                        <td>{{ table.head["content"][week_number] }}</td>
                    {%- endfor %}
                </tr>
            </thead>

            {% for i in range(table.rows | length) -%}
            <tr>
                <td>{{ table.rows[i] }}</td>
                {% for j in range(table.columns_range["start"], table.columns_range["end"] + 1) -%}
                    {% if table.content[table.rows[i]][j] == None %}
                        <td contenteditable='true'></td>
                    {% else %}
                        <td contenteditable='true'>{{ table.content[table.rows[i]][j] }}</td>
                    {% endif %}
                {%- endfor %}
            </tr>
            {%- endfor %}
        </table>
        <button type="button" name="button">Submit Changes</button>
    </body>
</html>
