<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
        <title></title>
    </head>
    <body>
        <a href="/">Home</a>
        <input type="text" id="myInput" onkeyup="tableSearch()" placeholder="Search for names..">

        <form action="" method="post">
            <button name="switch" value="back">back</button>
            <button name="switch" value="forward">forvard</button>
            <br></br>
            Enter department:
            <input name="department" type="text">
            <input type="submit" value="Send">
            <input type="submit" name="addall" value="add all"/>
        </form>
        <div class="">
            shown department(s): {{ department }}
        </div>
        <div class="">
            year start: {{ table.y_start }} / year end: {{ table.y_end }}
        </div>
        <table id="myTable">
            <thead>
                <tr>
                    <td>Week:</td>
                    {% for week_number in table.header_columns -%}
                        <td>{{ week_number }}</td>
                    {%- endfor %}
                </tr>
                <tr>
                    <td>Date:</td>
                    {% for week_number in table.header_content -%}
                        <td>{{ table.header_content[week_number] }}</td>
                    {%- endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in range(table.rows | length) -%}
                <tr>
                    <td class="td"><a href={{ url_for('edit', question_id = table.rows[i]) }}>{{ table.names[table.rows[i]] }}</a></td>
                    {% for j in range(table.weeks | length)  -%}
                        <td>{{ table.content[table.rows[i]][table.weeks[j]] }}</td>
                    {%- endfor %}
                </tr>
                {%- endfor %}
            </tbody>
        </table>
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/index.js') }}" ></script>
    </body>
</html>
