<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
        <title>Main table</title>
    <body>
        <h3>Edit plan: {{ user_id }}</h3>
        <a href="/table">Overview</a>

        <form id="mydata" method="POST" action="/test">
            <table id="myTable">
                <thead>
                    <tr>
                        <td>Week:</td>
                        {% for week_number in table.header_columns -%}
                            <td>{{ week_number }}</td>
                        {%- endfor %}
                    </tr>
                    <tr>
                        <td>Date:</td>
                        {% for week_number in table.header_content -%}
                            <td>{{ table.header_content[week_number] }}</td>
                        {%- endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(table.rows_complet | length) -%}
                        {% if i < table.rows_projects | length %}
                            <tr>
                                <td>{{ table.rows_complet[i] }}</td>
                                {% for j in range(table.weeks | length)  -%}
                                    <td><input name={{ i|string + "-" + table.weeks[j] | string }} value={{ table.content_complet[table.rows_complet[i]][table.weeks[j]] }}></td>
                                {%- endfor %}
                            </tr>
                        {% else %}
                            <td><i>{{ table.rows_complet[i] }}</i></td>
                            {% for j in range(table.weeks | length)  -%}
                                <td><input name={{ i|string + "-" + table.weeks[j] | string }} value={{ table.content_complet[table.rows_complet[i]][table.weeks[j]] }}></td>
                            {%- endfor %}
                        {% endif%}
                    {%- endfor %}
                </tbody>
            </table>
            <input type="submit" value="send Values to my save script">
        </form>
    </body>
</html>
