<table id="table" border="1">
    {% include "components/tableHeader.html" %}
    <tbody>
        {% for name in name_list %}
            <tr>
                <td>{{ name_mapper[name] }}</td>

                {% for i in range(table.header.weeks | length) -%}

                    <td class="text-center">

                        <table style="margin: auto;">
                            <tr>
                                <td class="data text-center" style="width:40px" class="data" contenteditable="true" >{{ data[name][table.header.weeks[i] | int].planned  }}</td>
                                <td class="text-center" style="font-size:65%">{{ data[name][table.header.weeks[i] | int].alocated  }}</td>
                            </tr>
                        </table>
                    </td>

                {%- endfor %}

            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function generate_matrix() {
        let data = document.getElementsByClassName("data")      
        let weeksLen = table_header.weeks.length
        let result = [], row = [];
        let counter = 0;   
        for (let i = 0; i < data.length; i++) {
            let value = data[i].innerHTML
            row.push(value)
            counter++
            if (counter === weeksLen) {
                result.push(row)
                row = []
                counter = 0
            }
        }
        return result   
    }
</script>