<thead>
    <tr>
        <th>Week:</th>
        {% for i in range(table.header.weeks | length) -%}
            {% if table.header.weeks[i] | string == table.header["current_week"] %}
                <th class="current-week">{{ table.header.weeks[i] | string + ' (' +  table.header.working_hours[table.header.weeks[i]] + ')' }}</th>
            {% else %}
                <th>{{ table.header.weeks[i] | string + ' (' +  table.header.working_hours[table.header.weeks[i]] + ')' }}</th>
            {% endif %}
        {%- endfor %}
    </tr>
    <tr>
        <td>Dates:</td>
        {% for date in table.header.dates -%}
        <td>{{ date }}</td>
        {%- endfor %}
    </tr>
</thead>