{% extends "NavLayout/layout.html" %}


{% block content%}
<div id="set_user" class="form-inline">
    <button class="btn btn-primary" type="button" onclick="go_back_to_table()"><img src="{{ url_for('static', filename='images/backward.png') }}"> Back</button>
    <input style="margin-left: 2%;" class="form-control" id="user_id" type="text" placeholder="Enter userID">
    <button class="btn btn-primary" onclick="set_user_id()" type="button">Submit</button>
</div>


<br>
<div>
    Current user: <span id="user_id_value">{{ user_id }}</span>
</div>
<div>years: {{ table.header.year_start }} / {{ table.header.year_end }}</span></div>





<div class="dropdown">
    <button class="btn btn-primary" onclick="dropdown_toggle();show_data_list({{ table }});" class="dropbtn">Add new project <img src="{{ url_for('static', filename='images/down-arrow.png') }}" alt=""></button>
    <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        <div class="dropdown_list" id="dropdown"></div>
    </div>
</div>


<table id="edit-table" border="1">
    <thead>
        <tr>
            <th>Week:</th>
            {% for i in range(table.header.weeks | length) -%}
                {% if table.header.weeks[i] | string == table.header["current_week"] %}
                    <th class="current-week">{{ table.header.weeks[i] | string + ' (' +  table.header.working_hours[table.header.weeks[i]] + ')' }}</th>
                {% else %}
                    <th>{{ table.header.weeks[i] | string + ' (' +  table.header.working_hours[table.header.weeks[i]] + ')' }}</th>
                {% endif %}
            {%- endfor %}
        </tr>
        <tr>
            <td>Dates:</td>
            {% for date in table.header.dates -%}
            <td>{{ date }}</td>
            {%- endfor %}
        </tr>
    </thead>
    
    <tbody>
        {% for i in range(table.body.projects | length) -%}
        <tr>
            <td>{{ table.body.projects[i].name + ' (' + table.body.projects[i].project_manager + ')' }}</td>
            {% for week in table.header.weeks -%}
            {% set week = week | int %}
            <td onkeyup="compute_sum({{ table }}); coloring_table({{ table }});" class="data text-center" contenteditable="true">{{ table["body"]["projects"][i]["values"][week] }}</td>
            {%- endfor %}
            <td><button class="btn btn-danger btn-sm" type="button" onclick="delete_row({{ i }}, {{ table.header }}); compute_sum({{ table }}); coloring_table({{ table }});">X</button></td>
            <td><button class="btn btn-success btn-sm" onclick="auto_insert({{ i }}, {{ table }});compute_sum({{ table }}); coloring_table({{ table }});">A</button></td>
            <td><input size="1" onkeyup="multiple_insert({{ i }}, {{ table.header }});compute_sum({{ table }}); coloring_table({{ table }});" class="multiple_insert" type="text"></td>
        </tr>
        {%- endfor %}

        {% for i in range(table.body.opportunity | length) -%}
        <tr>
            <td><i>{{ table.body.opportunity[i].name  + ' (' + table.body.opportunity[i].project_manager + ')' }}</i></td>
            {% for week in table.header.weeks -%}
                {% set week = week | int %}
                <td onkeyup="compute_sum({{ table }}); coloring_table({{ table }});" class="data text-center" contenteditable="true">{{ table["body"]["opportunity"][i]["values"][week] }}</td>
            {%- endfor %}
            <td><button class="btn btn-danger btn-sm" type="button" onclick="delete_row({{ table.body.projects | length + i }}, {{ table.header }}); compute_sum({{ table }}); coloring_table({{ table }})">X</button></td>
            <td><button class="btn btn-success btn-sm" onclick="auto_insert({{ table.body.projects | length + i }}, {{ table }});compute_sum({{ table }}); coloring_table({{ table }})">A</button></td>
            <td><input size="1" onkeyup="multiple_insert({{ table.body.projects | length + i }}, {{ table.header }});compute_sum({{ table }}); coloring_table({{ table }})" class="multiple_insert" type="text"></td>
        </tr>
        {%- endfor %}
        <tr>
            <td>sum:</td>
            {% for i in range(table.header.weeks | length) -%}
            <td class="sum data-coloring text-center"></td>
            {% endfor %}
        </tr>
    </tbody>
</table>
<button class="btn btn-primary btn-lg" type="button" onclick="send_changes_from_edit({{ table }})">Save Changes</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    compute_sum({{ table | tojson() }})
    coloring_table({{ table | tojson() }})

    $('.data').on('focus', function() {
      var cell = this;
      var range, selection;
      if (document.body.createTextRange) {
        range = document.body.createTextRange();
        range.moveToElementText(cell);
        range.select();
      } else if (window.getSelection) {
        selection = window.getSelection();
        range = document.createRange();
        range.selectNodeContents(cell);
        selection.removeAllRanges();
        selection.addRange(range);
      }
    });
</script>
{% endblock content %}