{% extends "NavLayout/layout.html" %}

{% block content%}
    <script>
        let table_header = {{ table.header | tojson }}
        let table_project_list = {{ projectList | tojson }}       
    </script>
    {% include 'components/searchbox.html' %}
    <div id="table-wrapper">
        {% include 'components/projectsTable.html' %}
    </div>
    <script>
        let button = document.getElementById("test");
        button.addEventListener("click", () => {
            fetch('/projects/test', {
                method: 'POST',
            })
            .then(response => response.json())
            .then(data => {
                let table_data = data.data
                let wrapper = document.getElementById("table-wrapper");
                wrapper.innerHTML = table_data;
            })
        })
    </script>
{% endblock content%}
