{% extends "NavLayout/layout.html" %}

{% block content%}

<script>
    let table_header = {{ table.header | tojson }}
    let name_list = {{ name_list | tojson }}
</script>
{% include "components/dropdown.html" %}
{% include "components/projectEditTable.html" %}
<button id="submit-changes" type="button">Save changes</button>


<script>
    let default_values = generate_matrix()
    document.getElementById("submit-changes").addEventListener("click", () => {
        let current_values = generate_matrix()
        let changes = []
        let project_id = window.location.pathname.split("/").pop()
        for (let i = 0; i < current_values.length; i++) {
            for (let j = 0; j < current_values[i].length; j++) {
                if (current_values[i][j] !== default_values[i][j]) {
                    let new_value = current_values[i][j]
                    let worker_id = name_list[i]
                    let week = parseInt(table_header.weeks[j])
                    if (table_header.year_start == table_header.year_end || week > table_header.weeks[table_header.weeks.length - 1]){
                        year = table_header.year_start;
                    } else {
                        year = table_header.year_end;
                    }
                    changes.push({"project_id": project_id, "worker_id": worker_id, "week": week, "value": new_value, "year": year});         
                }
            }
        }
        send_changes(changes)
    });

    function send_changes(changes) {
        fetch('/project_edit/save_changes', {
                method: 'POST',
                body:JSON.stringify(changes),
            }
        )
        .then(response => response.json())
        .then(data => {
            console.log("succes", data);
            location.reload();
        })
    }

</script>

{% endblock content%}